*{
    margin : 0;
    padding: 0;
}

body{
    font: normal 12px Verdana, Arial, sans-serif;
}

#titre{
    padding-top:20px ;
    padding-left:20px ;
    height: 50px;
    width : 100%;
    background-color: #f2f2f2;
    box-shadow: -1px 11px 18px -1px rgba(82,82,82,1);
    margin-bottom: 1%;
}

#content{
    margin-top: 1%;
    margin-left: 1%;
}

#image{
    height: 70%;
    width: 55%;
    overflow-y:auto;
    display: inline-block;
}

#filtre{
    margin: 1%;
    width: 40%;
    padding: 0.5%;
    vertical-align: top;
    display: inline-block;
    border: dashed 2px lightgray;
}

.dimension{
    display: inline-table;
    width: 25%;
    margin:1%;
}

.grid{
    margin-top: 1%;
}

.grid li{
    display: block;
    float: left;
    width: 25%;
}

#texte{
    width: 70%;
    margin: 1%;
    display: inline-block;
    vertical-align: top;
}

.btn {
    margin-top: 1%;
    background: #7e8a91;
    background-image: -webkit-linear-gradient(top, #7e8a91, #6d7078);
    background-image: -moz-linear-gradient(top, #7e8a91, #6d7078);
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    margin-top: 1%;
    background: #bcc9d1;
    background-image: -webkit-linear-gradient(top, #bcc9d1, #98a5ad);
    background-image: -moz-linear-gradient(top, #bcc9d1, #98a5ad);
    background-image: linear-gradient(to bottom, #bcc9d1, #98a5ad);
    text-decoration: none;
}


div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

.hidden {
    display: none;
}



